# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Environment files
.env

# VSCode settings
.vscode/

# Data (optional if files are large)
*.npy
*.csv
